/*Zestaw zasad dla gridów w #container */

.container_css {
    background-color: cadetblue;
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 76px 300px max-content max-content;
    justify-content: center;   
}

/* Dane do Navbara */ 
.child_navbar {
    background-color: rgb(20, 25, 53);
    /* Grid */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

/* Dane do Headera */
.child_header {
    background-color: rgb(58, 80, 107);
    background-image: url(img/watching-tv.jpg);
    /* Grid */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: stretch;
    text-align: center;
}

.header_search-bar{
    margin: auto;
    box-sizing: border-box;
}

/* Dane do Main */ 
.child_main {
    background-color: rgb(28, 37, 65);
    color: honeydew;
    /* Grid */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    
}
.content_main {
    color: honeydew;
    /* Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: stretch;
    

}

/* Dane do Footera */ 
.child_footer {
    background-color: rgb(20, 25, 53);
    /* Grid */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    align-self: center;
    justify-content: center;
}

.content_footer {
    /* Grid */
    display: grid;
    grid-template-rows: max-content max-content;
    justify-content: center;
}