/*
.carousel-inner > .carousel-item > img {
  width: 75vh;
  height: 50vh;
}
*/
.idk {

}

.karuzela {
  display: flex;
  align-items: self-start  ;
  justify-content: space-around;
  max-height: 70vh;
}

.myTitle > h1 {
    padding-left: 15px;
}
.myBorrowButton {
	padding: 0.5rem 4rem;
}
.button_film {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}