body {
    background: #121212;
    color: white;
    scroll-behavior: smooth;
    
}

.myContainer {
    display: flex;
    padding: 0 !important;
    min-height: 100vh;
    flex-direction: column;
    align-content: space-between;
}

.myFlex {
    flex-grow: 1;
}

/* Zmiany w bootstrap*/
.row {
    margin: 0px;
}
.col-12 {
    padding: 0;
}

.py-4 {
    padding-bottom: 0 !important;
}
/* Navbar stuff */
.myNavLink {
    font-size: 1.5em;
}

.nav-item {
    text-align: center;
}

.form-inline {
    margin: 0;
}

.myNavbar {
    padding: 0.1rem 1rem !important;
}

.navbar-brand {
    padding-top: 0;
}

/* Forms stuff */
.myFormBorder {
    border: none;
    
}

.myFormHeader {
    text-align: center;
    background-color: #121212 !important;
}

.myForm {
    font-size: 1.3em;
    color: white;
    background-color: #121212;
    padding-right: 6vw;
}

.myForm a{
    text-decoration: none;
    color:#ff6600;
    font-size: 1em;
    text-align: center;
}

.myForm a:hover {
    text-decoration: none;
    color:#ff9100;
}

.myForm input {
    background-color: #111;
    border: 1px solid #ff6600;
    border-radius: 10px;
    color: #DCDCDC;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.myForm input:focus {
    background: #181818;
    color: #DCDCDC;
    border: none;
    box-shadow: none;
    border: 3px solid #ff6600;
}

.myFormHeader {
    background: #111;
    color: white;
    padding-bottom: 20px;
}

.mySubmitButton {
    margin-top: 20px;
    font-size: 1.2em;
    background-color: #c00;
    box-shadow: none;
    border: 1px solid #c00;
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
}

.mySubmitButton:hover {
    background-color: #ff0000;
    box-shadow: none;
    border: 1px solid #c00;
    border-radius: 10px;
    text-shadow: 5px;
    color: white;
    letter-spacing: 2px;
}

.myResendButton {
    text-decoration: none;
    color:#ff6600;
    font-size: 1em;
    text-align: center;   
}

.myResendButton:hover {
    text-decoration: none;
    color:#ff9100;
}