.image_footer {
    width: 50px;
    height: 50px;
}

#social {
    margin: auto;
}

#info {
    margin: auto;
    
}

.info_a {
    padding-right: 1em;
}
/* https://coolors.co/0b132b-1c2541-3a506b-5bc0be-6fffe9 */